/* Alapformázások */

:root {
    --border-radius: 1rem;
    --border-radius-left: var(--border-radius) 0 0 var(--border-radius);
    --border-radius-right: 0 var(--border-radius) var(--border-radius) 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Térkép formázása */

#map {
    height: 100%;    
}

/* Nagy kijelző */

@media screen and (min-width: 1024px) {

    /* Helyszínválasztó panel */
    #location-panel {
        position: absolute;
        top: 10px;
        right: 60px;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px;
        border: 1px solid #999;
        border-radius: 0.25em;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }

    .location-buttons {
        position: absolute;
        top: 62px;
        right: 10px;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px;
        border: 1px solid #999;
        border-radius: 0.25em;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }

    /* Leírás ablak formázása */
    .details-overlay, .details-container {
        display: none;
    }

    .details-overlay {
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .details-container {
        z-index: 100;
        box-sizing: border-box;
        grid-template-columns: auto auto;
        position: absolute;
        margin: 10vh 5vw;
        width: 90vw;
        height: 80vh;
        border-radius: var(--border-radius);
        padding: 0;
        background-color: #fff;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 1.5em;
    }

    .close-button {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 30px;
        border-radius: var(--border-radius);
        line-height: 30px;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    .details-text-container {
        box-sizing: border-box;
        position: relative;
        height: 80vh;
        width: 45vw;
        overflow: auto;
        padding: 0 4em 4em;
    }

    .details-header {
        margin: 0;
        height: 4em;
        color: rgba(0, 0, 0, 0.5);
    }

    .details-header span {
        cursor: pointer;
        padding: 0 5px;
        line-height: 4em;
        vertical-align: middle;
    }

    .details-title {
        margin: 0;
        padding-bottom: 1em;
        font-size: 4 em;
        line-height: 1.2em;
    }

    .details-description {
        text-align: justify;
    }

    /* Megosztás */
    .floating-share-container {
        z-index: 5;
        position: fixed;
        top:50%;
        left: 0;
        margin: -25px 0 0 0;
        padding: 10px;
        width: 80px;
        height: 22px;  
        background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid #999;
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        text-align: center;
        font-family: "Roboto", "sans-serif";
    }
}

/* Tablet nézet */

@media screen and (min-width: 650px) and (max-width: 1024px) {

    body {
        overflow-y: auto;
    }

    /* Helyszínválasztó panel */
    #location-panel {
        z-index: 5;
        position: absolute;
        grid-template-columns: auto auto;
        top: 10px;
        right: 60px;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px;
        border: 1px solid #999;
        border-radius: 0.25em;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }

    .location-buttons {
        z-index: 5;
        position: absolute;
        display: inline-block;
        top: 62px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px;
        border: 1px solid #999;
        border-radius: 0.25em;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }

    /* Leírás ablak formázása */
    .details-overlay, .details-container {
        display: none;
    }

    .details-overlay {
        display: none;
    }

    .details-container {
        z-index: 100;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #fff;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 1.5em;
    }

    .close-button {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 30px;
        border-radius: var(--border-radius);
        line-height: 30px;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    .details-text-container {
        z-index: 100;
        box-sizing: border-box;
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0 0.5em 1em;
        background-color: #fff;
    }

    .details-header {
        margin: 0;
        padding: 0 4em;
        height: 4em;
        color: rgba(0, 0, 0, 0.5);
    }

    .details-header span {
        cursor: pointer;
        padding: 0 5px;
        line-height: 4em;
        vertical-align: middle;
    }

    .details-title {
        margin: 0;
        padding-bottom: 1em;
        font-size: 4 em;
        line-height: 1.2em;
    }

    .details-description {
        padding: 2em;
        text-align: justify;
    }

    /* Megosztás */
    .floating-share-container {
        z-index: 5;
        position: fixed;
        top:50%;
        left: 0;
        margin: -25px 0 0 0;
        padding: 10px;
        width: 80px;
        height: 22px;  
        background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid #999;
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        text-align: center;
        font-family: "Roboto", "sans-serif";
    }

}

/* Mobil nézet */

@media screen and (max-width: 650px) {

    body {
        overflow-y: auto;
    }

    /* Helyszínválasztó panel */
    #location-panel {
        z-index: 5;
        position: absolute;
        grid-template-columns: auto auto;
        top: 60px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px;
        border: 1px solid #999;
        border-radius: 0.25em;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }

    .location-buttons {
        z-index: 5;
        position: absolute;
        display: inline-block;
        top: 101px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px;
        border: 1px solid #999;
        border-radius: 0.25em;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }

    /* Leírás ablak formázása */
    .details-overlay, .details-container {
        display: none;
    }

    .details-overlay {
        display: none;
    }

    .details-container {
        z-index: 100;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #fff;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 1.5em;
    }

    .close-button {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 30px;
        border-radius: var(--border-radius);
        line-height: 30px;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    .details-text-container {
        box-sizing: border-box;
        position: relative;
        /* height: 100%;
        width: 100%; */
        padding: 0 0.5em 1em;
    }

    .details-header {
        margin: 0;
        padding: 0 4em;
        height: 4em;
        color: rgba(0, 0, 0, 0.5);
    }

    .details-header span {
        cursor: pointer;
        padding: 0 5px;
        line-height: 4em;
        vertical-align: middle;
    }

    .details-title {
        margin: 0;
        padding-bottom: 1em;
        font-size: 4 em;
        line-height: 1.2em;
    }

    .details-description {
        font-size: 1.2em;
        line-height: 1.2 em;
        padding: 1em;
        text-align: left;
    }

    /* Megosztás */
    .floating-share-container {
        z-index: 5;
        position: fixed;
        top: 10px;
        left: 225px;
        margin: 0;
        padding: 10px;
        width: 80px;
        height: 20px;  
        background-color: rgba(255, 255, 255, 0.75);
        border: 0;
        border-radius: 0;
        text-align: center;
        font-family: "Roboto", "sans-serif";
    }
}

/* Üzenet formázása */
#alert {
    cursor: pointer;
}

/* Kisegítő formázások */
.show-details {
    display: grid;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.i { font-style: italic; }
.b { font-weight: 900; }
.u { text-decoration: underline; }
